<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Capsule - Password Reset</title>
    <link rel="stylesheet" href="../../static/css/base.css">
     <link rel="stylesheet" href="../../static/css/button/button.css">
    <link rel="stylesheet" href="../../static/css/authentication.css">
    <script src="../../static/javascript/my_capsules.js"></script>
    <script src="../../static/javascript/password_reset.js"></script>
</head>
<body>
<div class="modal-form-container">
        <div class="container">
             <div class="right-content">
                <div class="login-form">
                    <div class="modal-heading">
                        <h2>Password Reset</h2>
                        <p>Please enter your email address to receive a link to reset your password.</p>
                    </div>
                    <div class="form-style">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-field-container margin-bottom-28" id="resetPasswordEmailBlock">
                                <label for="id_resetPasswordEmail" class="form-label" id="resetPasswordEmailLabel">Email *</label>
                                {{ form.email }}
                            </div>
                             <div class="button-section">
                                {% include 'components/buttons/button.html' with button_text="Send email" button_type="submit" button_id="send-reset-email-button" button_class="primary-button" button_disabled=True %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="log-in" id="password_reset_login">
                    <p>Remember your password? <a href="{% url 'AuthenticationSystem:user_login' %}">Log in</a></p>
                </div>
                 <div class="sign-up">
                    <p>Don't have an account? <a href="{% url 'AuthenticationSystem:user_signup' %}">Sign up</a></p>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>