{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Capsule - Set New Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/button/button.css' %}" >
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    <script src="{% static 'javascript/my_capsules.js' %}"></script>
    <script src="{% static 'javascript/password_reset_confirm.js' %}"></script>
</head>
<body>
     <div class="modal-form-container">
            <div class="container">
                 <div class="right-content">
                    <div class="login-form">
                        <div class="modal-heading">
                            <h2>Set New Password</h2>
                        </div>
                        <div class="form-style">
                            <form method="post">
                                {% csrf_token %}
                               <div class="form-field-container password-container" id="newPasswordBlock">
                                    <label for="id_new_password1" class="form-label" id="newPasswordLabel">New password *</label>
                                    <input type="password" name="new_password1" id="id_new_password1" class="form-input">
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-field-container confirm-password-container margin-top-12" id="confirmNewPasswordBlock">
                                    <label for="id_new_password2" class="form-label" id="confirmNewPasswordLabel">Confirm new password *</label>
                                    <input type="password" name="new_password2" id="id_new_password2" class="form-input">
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                 <div class="button-section">
                                    {% include 'components/buttons/button.html' with button_text="Change my password" button_type="submit" button_id="new-password-button" button_class="primary-button" button_disabled=True %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>