/* modal.css */
.modal-2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-2-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-2-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 90vh;
}

.modal-2-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.modal-2-title {
  margin: 0;
}

.modal-2-close {
  cursor: pointer;
}

.modal-2-body {
  display: flex;
  align-items: center;
  height: 100%;
}

.left-carousel{
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
  height: 100%;
  width: 100%;
}

.right-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.comment-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80%;
  width: 100%;
  padding-top: 20px;
  overflow-y: auto;
}

.comment-container::-webkit-scrollbar {
  display: none;
}

.comment-head{
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.comment-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-profile img{
    width: 40px;
    height: 40px;
}

.caption-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-comment-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.post-comment-container textarea{
  font-family: "Space Grotesk", sans-serif;
  outline: none;
  resize: none;
  width: 100%;
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}